doctype html
html(lang="en")
  head
    title Bukshee: sliding-tile game
    meta(name="viewport" content="width=device-width, initial-scale=1")
    link(rel="stylesheet",media="all",href="sliding.css")
    meta(name="description", content="A Sliding-tile game written in javascript demonstrating painting on canvas. License: GPL")
    style
      include index.css
  head
  body
    noscript.
      You need javascript enabled and a recent-enough browser for this page to render correctly!

    canvas#SlidingGame

  script
    | <!--
    include index.js
    | //-->
